.body{
    background-color: #c42121;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#Base{
    background-color: aqua;
    position: relative;
    max-width: 10000px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 200px;
    padding: 100px;
    
}
.pic{
    background-color: rgb(97, 170, 121);
margin-bottom: 90px;
margin-left: 400px;
margin-right: 400px;
padding-left: 10%;
padding-right: 20%;
margin-top:25px;


}
#Heading{

padding-left: 24px;
font-size: 1.5em;


}
.field1{
position: relative;
margin-top: 1px;
margin-left: 400px;
margin-right: 400px;
font-size: 1em;

}
#typeEmail{

background-color: #F7F7F8;



}