/* حق نورة الراجحي*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header_fixed{
    width: 100%;
    display: flex;
    justify-content: center;

}
.tabel-box{
    margin: 50px auto;
}
.tabel-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: black;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}
.tabel-cell{
    display: table-cell;
    width:30%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid pink;
    vertical-align: middle;

}
.tabel-head{
    background: powderblue;
    box-shadow: non;
    color: #030229;
}
.tabel-head .tabel-cell{
    border-right: none;
}
.last-cell{
    border-right: none;
}

tabel{
    border-collapse: collapse;
}
th,td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

tr:ntn-child(even){
    background-color: #dddddd;
}

tr:hover td{
    color: #9084C2;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}
tr{
    color: #9084C2;
}

td button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color: #635DAD;
            opacity: 62%;
}
td button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}
.EYES{
   
    color: #635DAD;
}


 button.SETApp{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color: #635DAD;
            opacity: 62%;
            position: absolute;
            top: 638px;
            right: 960px;
}
button.SETApp:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}

button.SETApp2{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color: #635DAD;
            opacity: 62%;
            position: absolute;
            top: 638px;
            right: 1150px;
}
button.SETApp2:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}

.CAT{
    position: absolute;
    top: 578px;
    left: 163px;
}

.CAT2{
    position: absolute;
    top: 578px;
    left: 320px;
}




td.DELET button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color: #FF74AB;
            opacity: 62%;
}
td.DELET button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}

td.PENDING button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color:#A4A4A4;
            opacity: 62%;
}
td.PENDING button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}
td.Approved button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color:#FEAD54;
            opacity: 62%;
}
td.Approved button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}
td.Declined button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color:#FF765F;
            opacity: 62%;
}
td.Declined button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}






.header_fixed{
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    width: 1000px;
    height: 470px;
    border: 1px ;
    overflow: scroll;
    position: absolute;
    right: 177px;
    bottom: 100px;
    border-radius: 20px;
    z-index: 2;
    text-align: center;
}
.header_fixed3{
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    width: 580px;
    height: 450px;
    border: 1px ;
    overflow: scroll;
    position: absolute;
    right: 400px;
  
   
    bottom: 100px;
    border-radius: 20px;
    z-index: 2;
    text-align: center;
}



.header_fixed thead th{
    position: sticky;
    top :0;
    font-size: 15px;
    font-weight: 800;
}
::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) ;
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) ;
}
.CAPTION p{
   font-size: large;
color: #030229;
}
td a{
    color: gray;
}
td a:hover{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    color: gray;

}

.BACKGROUND{
  position: absolute;
  background-position: right ;
  left: 1000px;
  top:40px;
  background-attachment: fixed;
  z-index: 0;
}




/* حق نورة الخريف*/
.body .Noura{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.part1{
    margin-left: 30% ;
    margin-top:2% ;
    padding: 20px 35px;
    max-width: 700px;
    width: 100%;
    z-index: 1;
}
.part1 .title {
    font-size: 23px;
    font-weight: 500px;
    position: relative;

}
.part1 form .appointment-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0 ;
}
form .appointment-details .input-box{
    margin-bottom: 15px;
    width:calc(100% / 2 - 20px)
    
}
.appointment-details .input-box .details{
    display: block;
    font-weight: 500px;
    margin-bottom: 5px;
}
.appointment-details .input-box select {
height: 30px;
width: 50%;
outline: none;
border-radius: 5px;
border: 1px solid #FAFAFB ;
padding-left: 15; 
font-size: 12px;
}
.appointment-details .input-box input {
    height: 30px;
    width: 50%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #FAFAFB ;
    padding-left: 15; 
    font-size: 12px;
    }
.appointment-details .input-box textarea{
    height: 100px;
    width: 70%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #FAFAFB ;
    padding-left: 15; 
    font-size: 12px;
    }
    .back1{
        position: absolute;
        background-position: left;
        left:0;
        bottom: 0;
        background-attachment: fixed;
        z-index: -1;
    }
    .back2{
        position: absolute;
        background-position: left;
        left: 500px;;
        bottom: 50px  ;
        background-attachment: fixed;
        z-index: 0;
        width: 150px;
        height: 150px;
    }

    /*
    form .button1{
        height: 45px;
        margin: 45px 0 ;
    }
    form .button1 input{
        height: 100%;
        width: 50% ;
        outline: none;
        background-color: #635DAD ;
        font-size: 16px;
        font-weight: 500px;
        color:white;
        border-radius: 5px;
        margin: 10px auto;
        display: block;
    }*/
  

    /* حق مها النعيم */
    #MBODY{
       
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #ffffff;
    }
    #Base{
        background-color:#ffffff;
        position: relative;
        max-width: 1000px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 150px;
        padding: 100px;
        padding-top: 30px;
        
    }
    .pic{
        background-color: #ffffff;
        align-content: center;
      margin-left: 40%;
      margin-right: 30%;


    }
    
    #Heading{
    
    padding-left: 24px;
    font-size: 1.5em;
    
    
    }
    .fieldM{
    position: relative;
    margin-top: 1px;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 1em;
  
    background-color: #ffffff;
    
    }
    #typeEmail{
    
    background-color: #E5E5E5;
    
    
    }
    .button1{
    
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 2%;
    
    
    
    }
     .button{
            border: none;
            padding: 7px 80px;
            border-radius: 20px;
            background-color: #635DAD;
            opacity: 62%;
            color: white;
            
        }
        .button:hover { 
            opacity: 100%;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
        }
        #B{
            background-color: cornflowerblue;
            
            
            background-color:#ffffff;
            position: relative;
            max-width: 1000px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 150px;
            padding: 100px;
            padding-top: 30px;
            
              } 
       
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
 
  .dropdown:hover .dropdown-content {display: block;}
 
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
    
 
    