/* حق نورة الراجحي*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header_fixed{
    width: 100%;
    display: flex;
    justify-content: center;

}
.tabel-box{
    margin: 50px auto;
}
.tabel-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: black;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}
.tabel-cell{
    display: table-cell;
    width:30%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid pink;
    vertical-align: middle;

}
.tabel-head{
    background: powderblue;
    box-shadow: non;
    color: #030229;
}
.tabel-head .tabel-cell{
    border-right: none;
}
.last-cell{
    border-right: none;
}

tabel{
    border-collapse: collapse;
}
th,td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

tr:ntn-child(even){
    background-color: #dddddd;
}

tr:hover td{
    color: #9084C2;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 50, 0.3);
}
tr{
    color: #9084C2;
}

td button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color: #635DAD;
            opacity: 62%;
}
td button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}
.EYES{
   
    color: #635DAD;
}


 button.SETApp{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;  
    color: white;
    background-color: #635DAD;
            opacity: 62%;
            position: absolute;
            top: 638px;
            right: 950px;
}
button.SETApp:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}

button.SETApp2{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color: #635DAD;
            opacity: 62%;
            position: absolute;
            top: 611px;
            right: 1215px;
}
button.SETApp2:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}

.CAT{
    position: absolute;
    top: 554px;
    left: 115px;
}

.CAT2{
    position: absolute;
    top: 578px;
    left: 345px;
}




td.DELET button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color: #FF74AB;
            opacity: 62%;
}
td.DELET button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}

td.PENDING button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color:#A4A4A4;
            opacity: 62%;
}
td.PENDING button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}
td.Approved button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color:#FEAD54;
            opacity: 62%;
}
td.Approved button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}
td.Declined button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    
    color: white;

    background-color:#FF765F;
            opacity: 62%;
}
td.Declined button:hover{
    opacity: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    
}
body::-webkit-scrollbar-track{
    background: #fff;
}





.header_fixed{
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    width: 1000px;
    height: 470px;
    border: 1px ;
    overflow: scroll;
    position: absolute;
    right: 177px;
    bottom: 100px;
    border-radius: 20px;
    z-index: 2;
    text-align: center;
}
.header_fixed3{
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    width: 580px;
    height: 450px;
    border: 1px ;
    overflow: scroll;
    position: absolute;
    right: 400px;
  padding-left: 18px;
   
    bottom: 100px;
    border-radius: 20px;
    z-index: 2;
    text-align: center;
}






::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) ;
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) ;
}
.CAPTION p{
   font-size: large;
color: #030229;
}
td a{
    color: gray;
}
td a:hover{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
    color: gray;

}

.BACKGROUND{
  position: absolute;
  background-position: right ;
  left: 1000px;
  top:40px;
  background-attachment: fixed;
  z-index: 0;
}
div.HEADER{
    background-color: white;
    position: fixed;
}




/* حق نورة الخريف*/
.body .Noura{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.part1{
    margin-left: 30% ;
    margin-top:2% ;
    padding: 20px 35px;
    max-width: 700px;
    width: 100%;
    z-index: 1;
}
.part1 .title {
    font-size: 23px;
    font-weight: 500px;
    position: relative;

}
.part1 form .appointment-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0 ;
}
form  .input-box{
    margin-bottom: 15px;
    width:calc(100% / 2 - 20px)
    
}
 .input-box .details{
    display: block;
    font-weight: 500px;
    margin-bottom: 5px;
}
 .input-box select {
height: 30px;
width: 70%;
outline: none;
border-radius: 5px;
border: 1px solid #dddddd ;
background-color:#dddddd;
padding-left: 15; 
font-size: 12px;
}
 .input-box input {
    height: 30px;
    width: 70%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #dddddd ;
    background-color:#dddddd;
    padding-left: 15; 
    font-size: 12px;
    }
 .input-box textarea{
    height: 100px;
    width: 70%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #dddddd ;
    background-color:#dddddd;
    padding-left: 15; 
    font-size: 12px;
    }
    .back1{
        position: absolute;
        background-position: left;
        left:0;
        bottom: 0;
        background-attachment: fixed;
        z-index: -1;
    }
    .back2{
        position: absolute;
        background-position: left;
        left: 500px;;
        bottom: 50px  ;
        background-attachment: fixed;
        z-index: 0;
        width: 150px;
        height: 150px;
    }
    .input-box .email{
        display: block;
        font-weight: 500px;
        margin-bottom: 5px;
    }
    .part2{
        margin-left: 20% ;
        margin-top:4% ;
        padding: 20px 35px;
        background-color: white;
        max-width: 700px;
        width: 100%;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);}

    .part2 .title {
        font-size: 23px;
        font-weight: 500px;
        position: relative;
    }

    .BACKGROUND3{
        position: absolute;
        background-position: right ;
        left:900px;
        top:40px;
        background-attachment: fixed;
        z-index: 0;
        width:1000px
      }
    .back3{
        position: absolute;
        background-position: left;
        left: 600px;;
        top: 155px  ;
        background-attachment: fixed;
        z-index: 0;
        width: 150px;
        height: 150px;
    }
    .back4{
        position: absolute;
        background-position: left;
        left: 600px;;
        top: 200px  ;
        background-attachment: fixed;
        z-index: 0;
        width: 150px;
        height: 150px;
    }
    .back5{
        position: absolute;
        background-position: left;
        left: 750px;;
        top: 180px  ;
        background-attachment: fixed;
        z-index: 0;
        width: 150px;
        height: 150px;
    }       
    .back6{
        position: absolute;
        background-position: left;
        left: 750px;;
        top: 180px  ;
        background-attachment: fixed;
        z-index: 0;
        width: 150px;
        height: 150px;
    }       
    .button2{
    
        margin-left: 10px;
        margin-right: 100px;
        margin-top: 2%;
        
        }

    /*
    form .button1{
        height: 45px;
        margin: 45px 0 ;
    }
    form .button1 input{
        height: 100%;
        width: 50% ;
        outline: none;
        background-color: #635DAD ;
        font-size: 16px;
        font-weight: 500px;
        color:white;
        border-radius: 5px;
        margin: 10px auto;
        display: block;
    }*/
  

    /* حق مها النعيم */
    #MBODY{
       
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #ffffff;
    }
    #Base{
        background-color:#ffffff;
        position: relative;
        max-width: 1000px;
        margin-left: 230px;
        margin-right: 20px;
        margin-top: 150px;
        padding: 150px;
        padding-top: 30px;
        
    }
    .pic{
        background-color: #ffffff;
        align-content: center;
      margin-left: 40%;
      margin-right: 30%;


    }
    
    #Heading{
    
    padding-left: 24px;
    font-size: 1.5em;
    
    
    }
    .fieldM{
    position: relative;
    margin-top: 1px;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 1em;
  
    background-color: #ffffff;
    
    }
  
    #typeEmail{
    
    background-color: #F7F7F8;
    width: 500px;
    
    }
    .button1{
    
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 2%;
    
    
    
    }
     .button{
            border: none;
            padding: 7px 80px;
            border-radius: 20px;
            background-color: #635DAD;
            opacity: 62%;
            color: white;
            
        }
        .button:hover { 
            opacity: 100%;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
        }
        #B{
            background-color: cornflowerblue;
            
            
            background-color:#ffffff;
            position: relative;
            max-width: 1000px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 150px;
            padding: 100px;
            padding-top: 30px;
            
              } 
              .MBODY2{
       
                display:fixed;
                 height: 100vh;
                 width: 100%;
                 padding: 10px;
                 background-color: #ffffff;
             }
            
              .rowM{
             
              width: 100%;
              height: 170px;
              position: relative;
              top:150px;
              padding-left:350px;
     
     
     
              } 
              .field1st{
                 
                 float: left;
                width: 200px;
                 margin-top: 50px
        
              } 
              
              .fieldm2{
                float: left;
                width: 200px;
                 margin-right:300px;
                
              }
              
             .secondM{
               
                float: left;
                width: 200px;
                

             }

              .fieldselect{
                 width:250px;
                 height: 30px;
                 background: #F7F7F8;
                 border: #F7F7F8;
                 border-radius: 7px;
                 padding-left: 0px;
                 box-shadow : none; 
                
             } 
            .fieldselect .op1{
              display: none;


            }
            .fieldselect .op2 {
                background-color: blueviolet !important;
  
  
              }
            
             .fieldm2 .fieldselect{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';
             }
             
     
             #circle {
                 background: #F7F7F8;
                 border-radius: 50%;
                 width: 130px;
                 height: 130px;
                 
                 margin-left: 50px;
             }
             .circle{
                float: left;
                 margin-left: 50px;
     
             }
             .rowL{
             
             width: 100%;
             height: 100px;
             position: relative;
             top: 130px;
             padding-left: 370px;
         
             }
            
             .BG{
                 position: fixed;
                 top: 160px;
                 right: 25%;
                 z-index: -1;
                 width: 100px;
     
     
             }
             #calendar{
                position: relative;
                bottom: 27px;
                left: 230px;
                float: left;
                color:#635DAD;
                opacity: 62%;
            }
            #camera{
                position: relative;
                top: 50px;
                left: 50px;
                color:#635DAD;
                opacity: 62%;
            


            }
            
            .MBODY3{
                display:fixed;
                height: 100vh;
                width: 100%;
                padding: 10px;
                background-color: #ffffff;
            }
            .rowP4{
                padding-left: 200px;
                width: 100%;
                height: 170px;
                position: relative;
                top: 100px;
                
            };
               
            
 
            .pBox{
               
                padding-right: 50px;
                margin-right: 50px;
               
            }
            .pBox p{
                font-size: 0.8em;



            }
             .row2P4{  
                width: 100%;
                padding-left: 300px;
                position: relative;
                top: 70px;
             }
             .card1 .card {
                /* Add shadows to create the "card" effect */
                box-shadow: -4px 30px 30px -20px rgba(152, 131, 245, 0.2);
  
                transition: 0.3s;
                border-radius: 30px; /* 5px rounded corners */
                height: 300px;
                border: none;
                
              }
              
              /* On mouse-over, add a deeper shadow */
              .card1 .card:hover {
                box-shadow: 0 20px 20px 0 rgba(152, 131, 245, 0.2);
              }
              .card2 .card:hover {
                box-shadow: 0 20px 20px 0 rgba(152, 131, 245, 0.2);
              }
              .card3 .card:hover {
                box-shadow: 0 20px 20px 0 rgba(152, 131, 245, 0.2);
              }

              /* Add some padding inside the card container */
              .container {
                padding: 2px 16px;
                
              }
              .card1{
                  width: 200px;
                  height: 300px;
                  float: left;
                  margin-right: 50px;
                  margin-top: 15px;

              }
              .card2 .card {
                /* Add shadows to create the "card" effect */
                box-shadow: -4px 30px 30px -20px rgba(152, 131, 245, 0.2);
                transition: 0.3s;
                border-radius: 30px; /* 5px rounded corners */
                height: 300px;
                border: none;
                
              }
              .card3 .card {
                /* Add shadows to create the "card" effect */
                box-shadow: -4px 30px 30px -20px rgba(152, 131, 245, 0.2);
                transition: 0.3s;
                border-radius: 30px; /* 5px rounded corners */
                height: 300px;
                border: none;
                
              }
              .card2{
                width: 200px;
                height: 300px;
                float: left;
                margin-right: 50px;
                margin-top: 15px;

            }
            .card3{
                width: 200px;
                height: 300px;
                float: left;
                margin-right: 50px;
                margin-top: 15px;

            }

    

             
                 
       

    