@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --purple:#9084C2;
    --pink:#FBD8E6;
    --orange: #FEAD54;
    --gradient:linear-gradient(90deg, var(--purple), var(--pink));
    --surface-color: #fff;
    --curve: 40;
    --bg-color: #E6E5E1;

}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

*::selection{
     color: #B993D6;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background:#f9f9f9;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;


}
.heading{
    text-align: center;
    background: #333;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    cursor: default;
}
.AboutUs-P{
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  height: 62px;
  width: 1249px;
  cursor: default;
  
}

.Services{
    background: url(../images/srvices3.svg) no-repeat;
    background-size: cover;
    background-position: center ;
}
#edit{
    margin: .5rem 0;
    margin-right: 1rem;
    border-radius: 100%;
    background:#efefff;
    color: #291348;
    opacity: .8;
    font-size: 2rem;
    line-height: 4rem !important;
    text-align: center;
}
#edit:hover{
    opacity: 1;
    border: solid;
    box-shadow: #333;
}
/*.Services .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.Services .box-container .box{
    flex: 1 1 30rem;
    background: #fff ;
     border-radius: .5rem ;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .7rem ;
    text-align: center;
    transition: .2s linear

}


.Services .box-container .box img{
    height: 15rem;

}

.Services .box-container .box h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;}



    .Services .box-container .box p{
        font-size: 1.3rem;
        color: #666;
        padding: 1rem  0;}*/
        .Aboutuscard{
          height: 250px;
        }
    
    
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2rem;
            margin: 4rem 5vw;
            padding: 0;
            list-style-type: none;
          }
          
          .card {
            position: relative;
            display: block;
            height: 100%;  
            border-radius: calc(var(--curve) * 1px);
            overflow: hidden;
            text-decoration: none;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        }
          .card:hover{
              cursor:default;
          }
          
          .card__image {      
            width: 100%;
            height: auto;
          }
          
          .card__overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;      
            border-radius: calc(var(--curve) * 1px);    
            background-color: var(--surface-color);      
            transform: translateY(100%);
            transition: .2s ease-in-out;
          }
          
          .card:hover .card__overlay {
            transform: translateY(0);
          }
          
          .card__header {
            position: relative;
            display: flex;
            align-items: center;
            gap: 2em;
            padding: 2em;
            border-radius: calc(var(--curve) * 1px) 0 0 0;    
            background-color: var(--surface-color);
            transform: translateY(-100%);
            transition: .2s ease-in-out;
          }
          
          .card__arc {
            width: 80px;
            height: 80px;
            position: absolute;
            bottom: 100%;
            right: 0;      
            z-index: 1;
          }
          
          .card__arc path {
            fill: var(--surface-color);
            d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
          }       
          
          .card:hover .card__header {
            transform: translateY(0);
          }
          
          .card__thumb {
            flex-shrink: 0;
            width: 50px;
            height: 50px;      
            border-radius: 50%;      
          }
          
          .card__title {
            font-size: 2em;
            margin: 0 0 .3em;
            color: #333;
          }
          
          .card__tagline {
            display: block;
            margin: 1em 0;
            font-family: "MockFlowFont";  
            font-size: 1em; 
            color: #D7BDCA;  
          }
          
          .card__status {
            font-size: .8em;
            color: #feac5488;
            padding-right: 8rem;
            text-shadow: 20px var(--orange);
          }
          .card__status:hover{
              cursor: pointer;
              font-size: 1em;
              color: var(--orange);
              text-shadow: 20px var(--orange);
              transition: 0.2s ease-out;
          }
    
    
          .card__description {
            padding: 0 2em 2em;
            margin: 0;
            color: rgba(102, 102, 102, 0.877);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            font-size: 1em;
          }

          /* media queries */
@media (max-width: 1200px){
    html{
        font-size: 55%;

    }

}
@media (max-width: 991px){
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    
    
    }
 
        
}

.button{
  border: none;
  padding: 7px 80px;
  border-radius: 20px;
  background-color: #635DAD;
  opacity: 62%;
  color: white;
  position: relative;
left: 400px;
  
}
.button:hover { 
  opacity: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}
.cardDescription{
font-size: 1.1em;
max-height: 209px;
max-width: 350px;
width: 349px;
height: 96px;
padding: 0 20px 20px 20px;
cursor: default;}
.card__image{
cursor: default;

}






@media (max-width: 800px){
   
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    .sub-menu li a{
        font-size: 1.2rem;

    }

    header input:checked ~ .navbar{
        transform-origin: top;
        transform: scaleY(1);
        opacity: 1;
        transition: .12s linear;

    }
   

    }
   
    
@media (max-width: 450px){
    html{
        font-size: 50%;

    }


}
